# AWS related files
.elasticbeanstalk/
!.elasticbeanstalk/*.cfg.yml

administracion

# Idea files
.idea/
æ
# Mac files
.DS_Store

# Gradle root files
.gradle/
gradle.properties

# Elastic Beanstalk configuration
didekin/src/main/resources/.ebextensions/env-var.config
didekin/src/main/resources/.ebextensions/https-instance-securitygroup.config

# Build and logs
logs/
/**/out
/**/build
/**/libs
/**/releases

# Configuración de entornos
terminal/*

# SECURITY

# Basurilla
/**/trash.sql

