# AWS related files
.elasticbeanstalk/
!.elasticbeanstalk/*.cfg.yml

administracion

# Idea files
.idea/
æ
# Mac files
.DS_Store

# Gradle root files
.gradle/
gradle.properties

# Elastic Beanstalk configuration

# Keystore for encryption key in server.
/didekin/src/main/resources/didekin_web_sym.pkcs12

# Build and logs
logs/
/**/out
/**/build
/**/libs
/**/releases

# Configuración de entornos
terminal/*

# SECURITY

# Basurilla
/**/trash.sql


