Resources:
    sslSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
            IpProtocol: tcp
            ToPort: 443
            FromPort: 443
            CidrIp: 0.0.0.0/0

files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGQDCCBCigAwIBAgICEAYwDQYJKoZIhvcNAQELBQAwgYExCzAJBgNVBAYTAkVT
      MQ8wDQYDVQQIDAZNYWRyaWQxEzARBgNVBAoMCkRpZGVraW5fQ0ExEzARBgNVBAsM
      CkRpZGVraW5fQ0ExEzARBgNVBAMMCkRpZGVraW5fQ0ExIjAgBgkqhkiG9w0BCQEW
      E2NvbnRhY3RvQGRpZGVraW4uZXMwHhcNMTcwNzExMDgyODIyWhcNMTkwNzExMDgy
      ODIyWjCB1DELMAkGA1UEBhMCRVMxDzANBgNVBAgMBk1hZHJpZDEcMBoGA1UEBwwT
      TGFzIFJvemFzIGRlIE1hZHJpZDEYMBYGA1UECgwPZGlkZWtpbl93ZWJfcHJlMRgw
      FgYDVQQLDA9kaWRla2luX3dlYl9wcmUxOjA4BgNVBAMMMWRpZGVraW4td2ViLXBy
      ZS5ldS1jZW50cmFsLTEuZWxhc3RpY2JlYW5zdGFsay5jb20xJjAkBgkqhkiG9w0B
      CQEWF2NvbnRhY3RvX3ByZUBkaWRla2luLmVzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEA1usKL/xyz/ux8VIg4v3Nz5PcvHXGaJ4e2XZJ+vGNvxhjTfUQ
      iAn9kv+wFvu0FItnnUINgtkkoS9b9Yfk3LnoJkfQeU/kkZ7n6SVSk4XWnop+5oNw
      6N2rMr7yVpI9YpMUpCTi0GmMO/7PkueN5Cm/aScLE2ShuL4G/v4AKHYertzhPbky
      bgs/Ym3Qi3piht5CLZbqVFpn3/ys4A33t3dLlRLSIWmuXO/6tVekvoWg/4zMsKYt
      OnrPcFbaY13l8gtVH7taJRZKJGu+ZgxFKkxdCY2xJw6HCTINWM8DpVz8MxQibGra
      sgBX1N1kNWAbIPGr3CbxLsA5vdGeD817S4eUZQIDAQABo4IBazCCAWcwCQYDVR0T
      BAIwADARBglghkgBhvhCAQEEBAMCBkAwMwYJYIZIAYb4QgENBCYWJE9wZW5TU0wg
      R2VuZXJhdGVkIFNlcnZlciBDZXJ0aWZpY2F0ZTAdBgNVHQ4EFgQUzUT659cQQLVB
      QnjjmcQZA8mz5+Awgc0GA1UdIwSBxTCBwoAUsw7BYmwq0Q+jQXBAcZZXgT63eO+h
      gaWkgaIwgZ8xCzAJBgNVBAYTAkVTMQ8wDQYDVQQIDAZNYWRyaWQxHDAaBgNVBAcM
      E0xhcyBSb3phcyBkZSBNYWRyaWQxEzARBgNVBAoMCkRpZGVraW5fQ0ExEzARBgNV
      BAsMCkRpZGVraW5fQ0ExEzARBgNVBAMMCkRpZGVraW5fQ0ExIjAgBgkqhkiG9w0B
      CQEWE2NvbnRhY3RvQGRpZGVraW4uZXOCAhAAMA4GA1UdDwEB/wQEAwIFoDATBgNV
      HSUEDDAKBggrBgEFBQcDATANBgkqhkiG9w0BAQsFAAOCAgEAjLQdvlPEKjrC3J/H
      9IEoC8O/7FtyC85t142EQEYApj4/q+nMFffPx4SqqEdMBClSKNpQ2724i27D0PPZ
      KQeSM5bQwMW+nxAtpyqqZ19auZjJDhd9w7TWvUqIZ3oZ7ElbRgmbHakxlkBO1rfk
      8Qh4dCwdrgArXo5stN3SwSy1DmQgROlUiBIv/mYS0DStWYoyHLh9HgoTg6sWOotE
      kQ7RVmJ+9Rm2FaV174viIFZ16tgssvLIcwd2uDQI50Aqki3zM30qKR+6jQwgtEyd
      P9JC4flCZXKXdppo/El3xevxzfv8O47aFcbGhcJk8zPzlHhiL5VNlxAHmORdY0Sv
      +8MxFW8sZK0y3izD9juSgHoW+9RcJ62oOPL/EOMRDW5quq/qe9QUQ8ARs0ZSz8fE
      ta6McJJoW90SQ96dYLkznzE+TGbPIH2znzjvSbdj7C04P4t6w3c02WoQ+z3iig+t
      uCh4nN3D96EdL+GtWwhR3zecRRzwwm7xIfb/1Mh7WB6yEYg3I0Ovh6TenDI/WpIv
      Usa8M13mPb2sr/43qunaF7p/KL9CSRCGK5AUr7LH5WDz/Lyy/z/j1nv4m1+vEfcb
      oijSKBUpCCtHHdsNvmhraTL1nZ5wnD0OwCMftUsfH7hnuzImZ2Yw9fdGUc5Q0xZX
      L3i3rAxcKRsMbt/vhKyHNDmWaRs=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIGBDCCA+ygAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwgZ8xCzAJBgNVBAYTAkVT
      MQ8wDQYDVQQIDAZNYWRyaWQxHDAaBgNVBAcME0xhcyBSb3phcyBkZSBNYWRyaWQx
      EzARBgNVBAoMCkRpZGVraW5fQ0ExEzARBgNVBAsMCkRpZGVraW5fQ0ExEzARBgNV
      BAMMCkRpZGVraW5fQ0ExIjAgBgkqhkiG9w0BCQEWE2NvbnRhY3RvQGRpZGVraW4u
      ZXMwHhcNMTYxMDA0MTA1MTMwWhcNMzcxMTAzMTA1MTMwWjCBgTELMAkGA1UEBhMC
      RVMxDzANBgNVBAgMBk1hZHJpZDETMBEGA1UECgwKRGlkZWtpbl9DQTETMBEGA1UE
      CwwKRGlkZWtpbl9DQTETMBEGA1UEAwwKRGlkZWtpbl9DQTEiMCAGCSqGSIb3DQEJ
      ARYTY29udGFjdG9AZGlkZWtpbi5lczCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCC
      AgoCggIBAN6dvE4sdsvwNm6ANNAxBVjLlEyH/Sra14Qh8oV3sHHUerMDUlPS+6bt
      MGDyJ90i7fFLTRsiJ9kYAr2D0sX0UPd4afVctVzw8JHqyueBi3iRoIr0uKJckM9d
      QcL2Rwj40OsUf6Ccd/VVzrt2thTegi1slEMLe30PbAgaHUU3yRLwV7gUWd1FUpwK
      EDKvPqNM7jJ+GeZpb44r4AAWSb0FNLrPQZDKckxeBMHWjKRtAVuFKXOXwLT0K4Tb
      SQz3H2jI2fYB9K+ZSWCvqM3rKTyO8PUtq89KQ7tyXofNjhsQJ+G3tEddHJKR9ZWd
      XOPXRYIpzKzZ+vTD3xLFrDz7biYi55+xSEsE0NQ7uAZ8XpcCS7gUTXMCTFwdNHWh
      Dxt8G5TiAinruuUqzIjG2+REUPX8GkAOFxcJ24FWEjWWueG4z9Epo4n5f+830jc2
      CE9KCHA1KZ7r/flL63owCASn/qWWiEuIaHX2LvRgVNxPp0KO8eO+FcfIuTdsldlB
      Azvyq8sBzZPTtujp7EwqCCRUPKgJoVZq55qAcaKHYPoKypYCmdRBO6NrSYCvcTzz
      rO77X64WpoCybteGlqhvADG1IUmnm4ihpEEJPtwfK46ACLUT1Dye9k5/D7rB4Gzt
      mdX0xzMogSwq/Gh7aXNb/UJphDPaZ65HJPwiAtVhd5DLlGq2oB2dAgMBAAGjZjBk
      MB0GA1UdDgQWBBSzDsFibCrRD6NBcEBxlleBPrd47zAfBgNVHSMEGDAWgBRO+fOK
      Jqq/EKh/TQv9IhYNpb80qTASBgNVHRMBAf8ECDAGAQH/AgEAMA4GA1UdDwEB/wQE
      AwIBhjANBgkqhkiG9w0BAQsFAAOCAgEAe0yy014Zhp5i3jbdRM31xTlx0ueOyB43
      QvjbMt/IrdfYsSg2vPtLQDZGfPI5UEH9BFl0J+kVBNT2WOqMr6Hrxy/LnpTpWYSX
      nW8EJT6YlLyIa/3RpPgE0Bh8WP4YgGCZI+k/M8IISG7nYPWtMxS/jLPZMLlUy6fO
      eDyR3PZtIU+Wrok9qtrHwMMoULSv/Ls8N0gEJOTbHoMvKTLRT8JOFHzgpktgXC7z
      1+antzhg92iRRiGG853E+pU1pOH2B4Rf7MxFb1JGZCdksJp9Xa7P7eu49mm0BJGR
      AtoTTCc0ZGnUvlijFJGiyCQ/9y8h7txqGvR4cB9Z92RZyEUqmH0AZdKEYKefDsNU
      qSore9JvU+3uqM+Th7RFYmPDiMZb3oglA5Lb75gqcWZ6KJoLSqtO55942qoWxoqs
      GyL8MHAX8jwn+sSllZTleg4hXOAusz3s2LHs7rcl2SH7J81LHVX72EavdFJaZo1d
      IdWU12cXwMcWMBjUZGPx2OjL6zX38QWusVX7dyR5yxRhKVn6C2xZgDFfBJXlcVku
      Fa3+WAVYs7cmG4Czn6OzTrjpKlFeGpmo1G03aHuQxhMlOUSjCuQt7NN8oaUvjTjs
      joeZu0GB0/+JS8cGyYb9zY+q8Y8MSaXbJFFGpxr/rPRM9WDxLRSSEmPXUb7xB9aH
      5ces2n0A/xU=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIGJjCCBA6gAwIBAgIJAJc4GCPBfsfPMA0GCSqGSIb3DQEBCwUAMIGfMQswCQYD
      VQQGEwJFUzEPMA0GA1UECAwGTWFkcmlkMRwwGgYDVQQHDBNMYXMgUm96YXMgZGUg
      TWFkcmlkMRMwEQYDVQQKDApEaWRla2luX0NBMRMwEQYDVQQLDApEaWRla2luX0NB
      MRMwEQYDVQQDDApEaWRla2luX0NBMSIwIAYJKoZIhvcNAQkBFhNjb250YWN0b0Bk
      aWRla2luLmVzMB4XDTE2MTAwNDEwNDA0NVoXDTQ0MTIxNjEwNDA0NVowgZ8xCzAJ
      BgNVBAYTAkVTMQ8wDQYDVQQIDAZNYWRyaWQxHDAaBgNVBAcME0xhcyBSb3phcyBk
      ZSBNYWRyaWQxEzARBgNVBAoMCkRpZGVraW5fQ0ExEzARBgNVBAsMCkRpZGVraW5f
      Q0ExEzARBgNVBAMMCkRpZGVraW5fQ0ExIjAgBgkqhkiG9w0BCQEWE2NvbnRhY3Rv
      QGRpZGVraW4uZXMwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCjVCSI
      rkGeyahoIOA9CtPEAghwLzcfvBL1J/ZmrER4iNgRThjQCw7V9J9wK8rYecrDlf4P
      t97MdkipbD/34vsP9f9QRi8dvGTc+peNawODYl2/dCsXedO3ntzjOM6iCQxWT0nu
      T4EUG0bMAobvgqeW9EjmjE4M0UsAdTV12+JnEuyqT5Jz0QvbQW8A1VK7ZMMRicbe
      6ZbZUlx9u9e4Eso8woFA80uptrMy4sw0J1gp2mwBXjpAUK4gAXqnevPHyxauovqv
      jadqqIdZ6EAQaXZblOLtyKaVoIip7KefMga2yjlxg7KHtymNjd+DJDEfCSQTUwQz
      lZIZczd+3/fr3FM0PC+kOtD/EO3e/ZLzoNqzaVZUMU4EA+mktKQSqPMznm1n5aKF
      TJkR2FAjIuneD75WuvMlNmHT9N82WSI41aGGhQfJiVHl25rajSIY5vwLGGyZslTI
      omavbQij+sfwZzOAGlDFFx4HIg2iGHSyY0rgW8cgZnb3a7Luh4OFayoScKcjkkyC
      bjd6QAObhk8n3+a0nFTjZucL/BUeQW0TdJf3CCa24xJizgbdUozn2ERGc/QuaxoZ
      fu2NHItlXaZ8AxKGlj08zHYMDoS43Ti7keyJBq9WUqcbSGU44N1PyS0LqzhDQ7/S
      ZdvO6go6w4MuP35UFCNbpKswrS9tlKUXWTbViwIDAQABo2MwYTAdBgNVHQ4EFgQU
      TvnziiaqvxCof00L/SIWDaW/NKkwHwYDVR0jBBgwFoAUTvnziiaqvxCof00L/SIW
      DaW/NKkwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAYYwDQYJKoZIhvcN
      AQELBQADggIBAIL5VU+K6CCa8c+GztHMCfzI+qG9R5i8fdqe5KGcRUKz3VKg1ovR
      lCZ5TZ1rHDS792owsjksRwErwFDHWxrK79AsKrnkoMk90ZI3KLmNbjxL3vsQMZP5
      91m66xUlBy3iN5lIMhS5EHEhA1jJuO6Nl6pXFVwXSoXoCPlICvvSUNyy5G1idW3S
      P6Xigp6n8YhF5mq5MQpJ7x5YfJyqdYrVibcHLHopQ8GHrrU+S87zX2xZPjckBiyD
      /dKlFiyOILXZqk5Ud1toNZjd+HZFBmixSSeDh8ZWwtmB3cgjjV7gt4+ogBTnSTZ4
      0pTamwdfCknwn8cyMuCragASf9A68t6LthpH614XsJqb4J9t62ToEa45VewPrKUP
      6MTT/MPRHuW7+MUovnmXiPGyd+EefRuCPGZroOTL95EjsIB9tt5oX3uk3OSUaMgS
      vgyZJ8yjq9F3Hkog1tvyONJVbULIpkm7+pUZkm8WJFRXo9ndzOHfSz6Oq7Mvp2OR
      ene+yQ2X0bm+NrbM43IkdSTvJc3BGQd7bPyV+4mI89DQDLQ8XgJpQ0JBI1XP+Ma5
      CCNo1ZhVe+sDX9WRpGd7+0bykvRb971TRlIFfFs9YPEY77WwY3ieLG6rFTIR03Nr
      DxvqFFd/4wCIPmyVj19aQorsJHuHWUEo9WNU7JhzqzObx6l3LUzaxZ+V
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEA1usKL/xyz/ux8VIg4v3Nz5PcvHXGaJ4e2XZJ+vGNvxhjTfUQ
      iAn9kv+wFvu0FItnnUINgtkkoS9b9Yfk3LnoJkfQeU/kkZ7n6SVSk4XWnop+5oNw
      6N2rMr7yVpI9YpMUpCTi0GmMO/7PkueN5Cm/aScLE2ShuL4G/v4AKHYertzhPbky
      bgs/Ym3Qi3piht5CLZbqVFpn3/ys4A33t3dLlRLSIWmuXO/6tVekvoWg/4zMsKYt
      OnrPcFbaY13l8gtVH7taJRZKJGu+ZgxFKkxdCY2xJw6HCTINWM8DpVz8MxQibGra
      sgBX1N1kNWAbIPGr3CbxLsA5vdGeD817S4eUZQIDAQABAoIBAD+Swy6ypFu1fkt+
      GdBLd2fhuzfcNtaXf1SgUv3yGhXe5vEWfs9e9S1YiQQjbH9vRTUVZt2/0cAEPFWC
      30YTkAJS1+4qndgdg0hKDAUrX/MB0MvrMakQeSXHqfPFynawPzjW2GkB78OHemtg
      J27IkqBONk6EQ/pb68Hd7LoLRsQ+cvzf5+UOEiEQxUcJ9o4bioNK3Y0WVM/XteeY
      7Uqr0S01oG8eB2DqGcQHVkgRymcR9PCcRgaNXPjRhKeELnX7RczsC02JXYAda21+
      nwgHrRH2w6pUzzvuItYtKlIhX1Y8uRm8hs6St68vXv3lWDS91jbrN6P/9CHJALsw
      Jo4TUMECgYEA/q44a+LuAmdlgMtct36Mi2+vly95sBQpvYZXfBak8X05tLqM6KST
      2eyVdgR6PN8lgNPLVU74cjL5U5li/dANrB5vwWg564cAF0LGzWAhuFb+xKbJ9w7/
      HYwNav/UZL65eTBTNGQ6c6Y7iaOuQA70L1j09TNQgaoB7siCqtGwPAkCgYEA2AgV
      PzpnOcUW9wn/OMdEod3DZRqhyEY0a6zeltYu7IBK0W86f220ESx4n9NfG27Cd2FX
      hT5DK1+qoGuTqs4CDBiJ8xg7wHKLKsHXWrPrWThbj0hnFkr/enPUvM/0EHKVddVO
      cePl+iF9/E4vLHeeUMroecLDn9y0DVntN8QBJH0CgYEAr1LITJ0ANG9xlORqg3d+
      0U6llnJ8VxbKVUpyV15PVl9apmv2LQF/NvqDOaeDbvw/GRy0UZn3tsYYldB2MTxU
      7TRWwtI5bUaWbWzu5ttS21AoOsCHMKkGPxT2973+PQx/Kkp2PQ7ynkLFoc8oWbjx
      qNaYa2RT+69JfVRTf7yykeECgYAZVDlJhIt91oHuzRlDivmdEOdL/2dgl/qldUtT
      3CD8Ub5z99qf/jjSmqg59Qp9qOrcHGmqkbZGa50R2gsiR60txeLGwdyfn855YOjj
      FZ1OhLEXh6Gul3SE4vfae3deRlEH086yw8m/HhYrcu9NA2loh6HiRNey8qmZtyV9
      GFoZ8QKBgE1GXqYgbsAIn24OcNo68W9Y5NhpShTFOUCqoSw06La1kKkNumpwycYa
      /tXOUf1XiOTv75xCNzVzSTLmeoxCEz+xynrpI2PDSyFBzmqPe2dJ4HF/HEV8Zwd9
      Be9rkCjH13ZSEh5X1t8K2DDx+RzQw7+NiNS/bPB2niexrgPmi0Ni
      -----END RSA PRIVATE KEY-----
container_commands:
  01restart_nginx:
    command: "service nginx restart"